<div class="container w-50 pt-4 pb-4">
  <h1 class="text-center">Create User</h1>
  <form #createUserForm="ngForm" (ngSubmit)="processUserCreateForm(createUserForm)">
    <div class="form-group">
      <label class="control-label" for="name">Name</label>
      <input minlength="3" required class="form-control" type="text" name="name" id="name" [(ngModel)]="user.name" #nameVariable="ngModel">
      <div class="text-danger" *ngIf="nameVariable.invalid && nameVariable.dirty">
          Name is required and needs to be at least 3 characters long.
      </div>
    </div>
    <div class="form-group">
      <label for="login">Username</label>
      <input required class="form-control" type="text" name="login" id="login" [(ngModel)]="user.login" #loginVariable="ngModel">
      <div class="text-danger" *ngIf="loginVariable.invalid && loginVariable.dirty">
          Username is required.
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input required email class="form-control" type="email" name="email" id="email" [(ngModel)]="user.email" #emailVariable="ngModel">
      <div class="text-danger" *ngIf="emailVariable.errors?.required && emailVariable.dirty">
        Email is required.
      </div>
      <div class="text-danger" *ngIf="emailVariable.errors?.email && emailVariable.dirty">
        Email is invalid.
      </div>
    </div>
    <div class="form-group">
      <label for="roles">Roles</label>
      <div id="roles">
        <div *ngFor="let role of roles">
          <div class="form-check form-check-inline"> 
            <input (change) = "onCheckBoxChange($event, role.name)" class="form-check-input"
            type="checkbox" id="role.id" [checked]="user.roles.indexOf(role.name) > -1 ? true : false">
            <label class="form-check-label" for="role.id">{{ role.name }}</label>
          </div>
        </div>
      </div>
      <div class="text-danger" *ngIf="rolesError && rolesTouched">
          At least one role must be selected.
      </div>
    </div>
    <button [disabled]="rolesError || !createUserForm.valid" type="submit" class="btn btn-primary">Save</button>
    <div *ngIf="showSuccessAlert" class="alert alert-success fade show" role="alert">
      User Successfully Created
    </div>
  </form>
</div>