
<div class="container w-50 pt-4 pb-4">
    <h1 class="text-center">Edit User</h1>
    <form #editUserForm="ngForm" (ngSubmit)="processUserEditForm()">
  
      <!-- name -->
      <div class="form-group">
        <label for="name">Name</label>
        <input minlength="3" required class="form-control" id="name" type="text" value="{{ user.name }}" name="name" [(ngModel)]="user.name" #nameVariable="ngModel">
        <div class="text-danger" *ngIf="nameVariable.invalid && nameVariable.dirty">
            Name is required and needs to be at least 3 characters long.
        </div>
      </div>
  
      <!-- login -->
      <div class="form-group">
        <label for="login">Username</label>
        <input required class="form-control" id="login" type="text" value="{{ user.login }}" name="login" [(ngModel)]="user.login" #loginVariable="ngModel">
        <div class="text-danger" *ngIf="loginVariable.invalid && loginVariable.dirty">
            Username is required.
        </div>
      </div>
  
      <!-- email -->
      <div class="form-group">
        <label for="email">Email</label>
        <input required email type="email" class="form-control" id="email" value="{{ user.email }}" name="email" [(ngModel)]="user.email" #emailVariable="ngModel">
        <div class="text-danger" *ngIf="emailVariable.errors?.required && emailVariable.dirty">
          Email is required.
        </div>
        <div class="text-danger" *ngIf="emailVariable.errors?.email && emailVariable.dirty">
          Email is invalid.
        </div>
      </div>
  
      <!-- roles -->

      <div class="form-group">
        <label for="roles">Roles</label>
        <div id="roles">
          <div *ngFor="let role of roles">
            <div class="form-check form-check-inline"> 
              <input (change) = "onCheckBoxChange($event, role.name)" class="form-check-input"
              type="checkbox" id="role.id" [checked]="user.roles.indexOf(role.name) > -1 ? true : false">
              <label class="form-check-label" for="role.id">{{ role.name }}</label>
            </div>
          </div>
        </div>
        <div class="text-danger" *ngIf="rolesError && rolesTouched">
            At least one role must be selected.
        </div>
      </div>
      <button type="submit" [disabled]="rolesError || !editUserForm.valid" class="btn btn-primary">Update</button>
      <button type="button" data-toggle="modal" data-target="#deleteUserModal" class="btn btn-danger" id="delete-user-button">Delete User</button>
      <div *ngIf="showSuccessAlert" class="alert alert-success fade show" role="alert">
          User Successfully Updated
      </div>
      <div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete this user?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="processDeleteUser()">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>