<div class="container w-50 pt-4 pb-4">
  <form (ngSubmit)="processUserEditForm()">

    <!-- name -->
    <div class="form-group">
      <label for="InputName">Name</label>
      <input class="form-control" id="InputName" type="text" value="{{ user.name }}" name="name" [(ngModel)]="name">
    </div>

    <!-- login -->
    <div class="form-group">
      <label for="InputLogin">Username</label>
      <input class="form-control" id="InputLogin" type="text" value="{{ user.login }}" name="login" [(ngModel)]="login">
    </div>

      <!-- email -->
    <div class="form-group">
      <label for="InputEmail">Email Address</label>
      <input type="email" class="form-control" id="InputEmail" value="{{ user.email }}" name="email" [(ngModel)]="email">
    </div>

    <!-- roles -->
    <div class="form-group">
      <label for="InputRoles">Roles</label>
      <div id="InputRoles">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
          <label class="form-check-label" for="inlineCheckbox1">Admin</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
          <label class="form-check-label" for="inlineCheckbox2">Observer</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
          <label class="form-check-label" for="inlineCheckbox3">Creator</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
          <label class="form-check-label" for="inlineCheckbox4">Modifier</label>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    <button type="submit" data-toggle="modal" data-target="#deleteUserModal" class="btn btn-danger float-right">Delete User</button>
    <div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete this user from the database?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>