<div class="container mt-3"> 
  <button type="button" (click)="exportData()" class="btn btn-secondary">Export Data</button>
</div>
<div class="container mt-2 pr-4">
  <a class="ml-auto" routerLink="/users/create">
    <button type="button" class="btn btn-success row float-right">Create User</button>
  </a>
</div>
<div class="container">
  <div class="form-group search-user-form">
    <input type="text" class="form-control" placeholder="Search By Name" [(ngModel)]="searchTerm">
  </div>
</div>
<div class="container">
  <div class="form-group" id="sortForm">
    <label for="sortBy" id="sortByLabel">Sort By:</label>
    <select class="form-control" id="sortByLabel">
      <option>Alphabetical Order</option>
      <option>Creation Date</option>
    </select>
    <button type="button" (click)="onSortButtonClick()" class="btn btn-primary mt-1" id="sortButton">Submit</button>
  </div>
</div>
<div class="container">
  <div class="row">

    <!-- loop over our users and give them each a card -->
    <div class="col-6 col-sm-4" *ngFor="let user of filteredUsers">
      <div class="card order-secondary mb-3 shadow p-3 mb-5 bg-white rounded">
        <div class="card-title">
          <a routerLink="/users/{{ user.id }}">{{ user.name }}</a>
        </div>      
      </div>      
    </div>
  </div>
</div>
