<div class="container w-50 pt-4 pb-4">
    <h1 class="text-center">Edit Role</h1>
    <form #editRoleForm="ngForm" (ngSubmit)="processRoleEditForm()">
  
      <!-- name -->
      <div class="form-group">
        <label for="name">Name</label>
        <input minlength="3" required class="form-control" id="name" type="text" value="{{ role.name }}" name="name" [(ngModel)]="role.name" #nameVariable="ngModel">
        <div class="text-danger" *ngIf="nameVariable.invalid && nameVariable.dirty">
            Name is required and needs to be at least 3 characters long.
        </div>
      </div>
  
      <!-- permissions -->
      <div class="form-group">
        <label for="permissionsLabel">Permissions</label>
        <div id="permissionsLabel">
          <div *ngFor="let permission of permissions | async">
            <div class="form-check">
              <input required (change)="onCheckBoxChange($event, permission)" name="permissions" 
              class="form-check-input" [checked]="role.permissions.indexOf(permission) > -1 ? true : false" 
              type="checkbox" id="inlineCheckbox1"> 
              <label class="form-check-label" for="inlineCheckbox1">{{ permission }}</label>
            </div>
          </div>
        </div>
        <div class="text-danger" *ngIf="permissionsError">
            At least one role must be selected.
        </div>
      </div>
      <button type="submit" [disabled]="permissionsError || !editRoleForm.valid" class="btn btn-primary">Update</button>
      <div *ngIf="showSuccessAlert" class="alert alert-success fade show" role="alert">
          Role Successfully Updated
      </div>
    </form>
  </div>
